nav{
    color:black;
    background-color: white;
    width:100%;
    height:120px;
    line-height: 56px; 
}
.nav_bar{
    text-align: center;
    height: 100%;
}
.back{
    float:left;
    margin:25px 20px;
    width:56px;
}
.title{
    position: relative;
    font-size: 2rem;
    padding:30px;
    font-weight: bold;
}
.profilediv{
    text-align: center;
    width:500px;
    height: 500px;
    border-radius: 70%;
    border-width: 3px;
    border-color:pink;
    overflow:hideen;
    margin-top:5%;
    margin-left:38%;
}
.profilepic{
    object-fit: cover;
}
.container{
    background-color: white;
    border-radius: 50%;
    width: 90%;
    margin-left: 5%;
    padding-top:5%;
    padding-bottom: 5%;
}
.profileinfo{
    margin-left: 10%;
    font-size: 2rem;
}

.star{
    float: left;
    width:30px;
    margin: 5px 10px;
}
