nav{
    color:black;
    background-color: white;
    width:100%;
    height: 120px;
    line-height: 56px;
}
.nav_bar{
    text-align: center;
    height: 100%;
}
.back{
    float: left;
    margin: 30px 25px;
    width: 55px;
}
.title{
    position:relative;
    font-size: 2rem ;
    padding:30px;
    font-weight: bold;
}
.card{
    margin-top:10%;
    margin-left:10%;
}